body {
	font-family: Arial, sans-serif;
	margin: auto;
	width: 85%;
	max-width: 1000px;
	text-align: justify;
	color: #522F00;
}

p:first-letter {
	margin-left: 20px;
}

header {
	background-image: url('maglya.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 250px; 
}

h1{
	color: #B16400;
}

img {
	border: 2px solid #FFEBD0;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 15px;
	width: 15em; 
	background-color: white;
}

.balra {
	float: left;
}


q {
	font-style: italic;
}

li {
	margin-bottom: 25px;
}

footer{
	background-color: #FFEBD0;
	background-image: url('buso_logo.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 55px; 
	height: 60px;
	padding-top: 20px;
	margin-bottom: 0px;
	font-size: 0.8em;
}

a {
	text-transform: uppercase;
	text-decoration: none;
}

@media screen and (max-width:600px) {
  .balra, .jobbra {
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
